{% extends "base.html" %}

{% block content %}
<div class="filelist__header">
</div>
<div class="gallery">
    {% for upload in upload_list %}

    <a href="{% url 'file_view' upload.file.name %}">
        {% if upload.file_type == "VIDEO" and upload.thumbnail %}
        <figure class="gallery__item">
            <img src="{{ upload.thumbnail.url }}" />
        </figure>
        {% elif upload.file_type == "IMAGE" and upload.thumbnail %}
        <figure class="gallery__item">
            <img src="{{ upload.thumbnail.url }}" />
        </figure>
        {% else %}
        <figure class="gallery__item">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m9 13.5 3 3m0 0 3-3m-3 3v-6m1.06-4.19-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
            </svg>
        </figure>
        {% endif %}
    </a>

    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}